html {
  scroll-behavior: smooth;
}
img {
  height: 40px;
  padding-right: 8mm;
  padding-right: 8mm;
}
h1, h2 {
  font-size: 38px;
}
@font-face {
  font-family: NanumSquareRound;
  src: local(NANUMSQUAREROUNDOTFL), 
  local(나눔스퀘어라운드OTF), 
  url(NANUMSQUAREROUNDOTFL.eot), 
  url(NANUMSQUAREROUNDOTFL.woff), 
  url(NANUMSQUAREROUNDOTFL.ttf); 
}
.btn1 {
  font-family: NanumSquareRound;
  font-weight: bold;
  text-align:center;
  font-size: 20px;
  color: white;


  border-radius:0.5em;
  padding: 2mm 3mm;
  background: none;
  float: left;
}
#bgi {
  background-image: url("./img/bgi.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 0px; 
}
#home {
  padding-top: 5mm;
  padding-bottom: 5mm;
  
  text-align: center;

  z-index: 1000;
  }
#section1 {
  padding-top: 160mm;
  padding-bottom: 70mm;
  padding-left: 73mm;

  font-family: NanumSquareRound;
  font-weight: bold;
  text-align:center;
  line-height: 60px; 
}
#section2 {
  padding-top: 10mm;
  padding-bottom: 10mm;
  
  background-color: rgb(15, 3, 29);

  text-align: center;
}
#section3 {
  padding-top: 20mm;
  padding-bottom: 20mm;
  padding-right: 50mm;
  padding-left: 50mm; 
}